/*****************************************************************************/
/* General */
body {
    margin: 0;
    padding: 0;
    background: #DDD;
}

section {
    width: 80%;
    margin: 0 auto;
}

/*****************************************************************************/
/* Grid */
table.grid {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

table.grid td {
    border-right: 1px dotted rgba(255, 0, 255, 0.05);
}

table.grid td:last-child {
    border-right: 0;
}

/*****************************************************************************/
/* Header */
.nb-head {
    padding: 2em;
    background: #EEE;
}

/*****************************************************************************/
/* Search arrow */
.nb-search {
    margin: 0 auto 0 0;
    width: 80%;
    background: red;
}

/* Arrow and button */
.nb-search-arrow {
    float: right;
    width: 0;
    height: 0;

    border: 25px solid red;
    border-top-color: #DDD;
    border-bottom-color: #DDD;
    border-right-width: 0;
    -webkit-transform: scaleX(0.67);

    margin-right: -21px;
}

.nb-search-content {
    width: 100%;
}

    .nb-search-input-container {
        position: relative;

        width: 100%;

        /*background: #EEE;*/
        background: red;

        height: 50px;
        line-height: 50px;
    }

        .nb-search-input {
            font-size: 16px;
            vertical-align: middle;
            width: 99%;
            margin-bottom: 4px;
            margin-left: 10px;
        }

    .nb-search-button-container {
        float: right;
        text-align: right;
        /*background: yellow;*/
        background: red;

        width: 81px;
        margin-right: -81px;

        height: 50px;
        line-height: 50px;
    }
        .button_size_l.button_arrowed,
        .button_size_l.button_arrowed:active {
            vertical-align: middle;
            margin-right: -3px;
        }